In [6]:
#set.add()	Adds an element to the set.

set1 = {'a', 'b', 'c', 'd', 'e'}
set1.add('f')

print(set1)

{'b', 'f', 'c', 'd', 'a', 'e'}

In [23]:
#set.remove()	Removes the specified element from the set.

fruits = {'apple', 'banana', 'cherry', 'emuberries', 'fig'}

fruits.remove('cherry')

print(fruits)

{'apple', 'fig', 'banana', 'emuberries'}

In [9]:
#set.clear()	Removes all the elements from the set.

set1 = {'a', 'b', 'c', 'd', 'e'}
set1.clear()

print('After clear:', set1)

After clear: set()

In [12]:
#set.copy()	Returns a shallow copy of the set.

set1 = {'a', 'b', 'c', 'd', 'e'}
set2 = set1.copy()

print('Before copy', set1)
print('After copy', set2)

Before copy {'b', 'c', 'd', 'a', 'e'}
After copy {'b', 'c', 'd', 'a', 'e'}

In [16]:
#set.pop()	Removes and returns a random element from the set.

fruits = {'apple', 'banana', 'cherry', 'emuberries', 'fig'}

fruits.pop()
print('After pop: ', fruits)

After pop:  {'fig', 'banana', 'cherry', 'emuberries'}

In [24]:
# set.update() updates the set by adding distinct elements

num1 = {1, 2, 3}
num2 = {-2, -3, 5, 7}

num1.update(num2)
print("After update: ", num1)

After update:  {1, 2, 3, 5, 7, -3, -2}

In [27]:
#set.union Returns a new set containing all the elements from the original set and another set.

num1 = {1, 2, 3}
num2 = {-2, -3, 5, 7}

num3 = num1.union(num2)
print("After union: ", num3)

After union:  {1, 2, 3, 5, 7, -3, -2}

In [15]:
#set.difference()	Returns the new set with the unique elements that are not in the another set
nums1 = {1, 1, 3, 4, 5}
nums2 = {4, 5, 6, 6, 7, 8, 9}

nums3 = nums1.difference(nums2)
nums4 = nums2.difference(nums1)

print("nums1 - nums2: ", nums3)
print("nums2 - nums1: ", nums4)

nums1 - nums2:  {1, 3}
nums2 - nums1:  {8, 9, 6, 7}

In [30]:
#set.intersection Returns a new set containing only the elements that are present in both the original set and another set.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}