# Loop Practice Questions

1) Swap two numbers using 3rd variable

2) Swap two numbers without using 3rd variable

3) Remove duplicate elements from a list without converting to tuple

3) Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers

4) Write a loop to print following series
10, 20, 30,  …………………, 300

5) Write a loop to print following series
105,98,91,………………………,7

6) Write a program to print number names of digits in a number like
SAMPLE INPUT 231 		SAMPLE OUTPUT TWO THREE ONE

7) Write a program to print Fibonacci series till n terms take n =50

8) Write a program to print factorial of a number

9) Write a program to check if a number is Armstrong or not

10) Write a program to convert binary to decimal

11) Write a program to convert decimal to binary

12) Write a program to check if number is palindrome on not (Without converting to string)

13) Write a program to print all numbers which are divisible by 13 but not by 3 between 100 and 500

14) Write a Python program to convert temperatures to and from Celsius and Fahrenheit.

15) Write a Python program that takes two digits m (row) and n (column) as input and generates a two-dimensional array. The element value in the i-th row and j-th column of the array should be i*j. else it will be 0

16) Write a Python program that accepts a string and calculates the number of digits and letters.
Sample Data: Python 3.2
Expected Output:
Letters 6
Digits 2

17) Print all possible combination for a string or a word
Sample input “ABC”
Sample output
BAC
CAB
CBA
ACB
BCA

18) Write a Python program to check if a triangle is equilateral, isosceles or scalene. Take 3 inputs for each side


Note :
An equilateral triangle is a triangle in which all three sides are equal.
A scalene triangle is a triangle that has three unequal sides.
An isosceles triangle is a triangle with (at least) two equal sides.

19) Write a Python program to get the next day of a given date.
Expected Output:
Input a year: 2016                                                      
Input a month [1-12]: 08                                                
Input a day [1-31]: 23                                                  
The next date is [yyyy-mm-dd] 2016-8-24

In [26]:
#1) Swap two numbers using 3rd variable

a = 1
b = 2
c = 0

print("Before swap:")
print('Value of a:', a)
print('Value of b:', b)
print()

c = a
a = b
b = c

print("After swap:")
print('Value of a:', a)
print('Value of b:', b)

Before swap:
Value of a: 1
Value of b: 2

After swap:
Value of a: 2
Value of b: 1

In [54]:
#2) Swap two numbers without using 3rd variable

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

print("Original values: ")
print("num1 = ", num1)
print("num2 = ", num2)
print()
# Swapping the numbers
num1 = num1 + num2
num2 = num1 - num2
num1 = num1 - num2


print("Values after Swapping: ")
print("num1 = ", num1)
print("num2 = ", num2)

Enter the first number: 21
Enter the second number: 45
Original values:
num1 =  21
num2 =  45

Values after Swapping:
num1 =  45
num2 =  21

In [27]:
#3) Remove duplicate elements from a list without converting to tuple

original_list = [1, 2, 3, 4, 5, 1, 2, 6, 7, 6]
unique_list = []

for i in original_list:
    if i not in unique_list:
        unique_list.append(i)

print("Original List:", original_list)
print("List with Duplicate Elements Removed:", unique_list)

Original List: [1, 2, 3, 4, 5, 1, 2, 6, 7, 6]
List with Duplicates Elements Removed: [1, 2, 3, 4, 5, 6, 7]

In [43]:
# 4) Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers

num1 = int(input("Enter 1st number:"))
num2 = int(input("Enter 2nd number:"))

smallest_num = min(num1, num2)
for i in range(smallest_num, -1,-1):
  if num1 % i == 0 and num2 % i == 0:
    print("The GCD is ",i)
    break

Enter 1st number:25
Enter 2nd number:50
The GCD is  25

In [12]:
#5) Write a loop to print following series
#10, 20, 30,  …………………, 300

x =  10
while x <= 300:
  print(x, end = ", ")
  x = x + 10

10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200, 210, 220, 230, 240, 250, 260, 270, 280, 290, 300,

In [9]:
#6) Write a loop to print following series
#105,98,91,………………………,7

x = 105

while x >= 7:
    print(x, end=", ")
    x -= 7

105, 98, 91, 84, 77, 70, 63, 56, 49, 42, 35, 28, 21, 14, 7,

In [73]:
#7) Write a program to print number names of digits in a number like
#SAMPLE INPUT 231 		SAMPLE OUTPUT TWO THREE ONE

digits = {
    '0': 'ZERO',
    '1': 'ONE',
    '2': 'TWO',
    '3': 'THREE',
    '4': 'FOUR',
    '5': 'FIVE',
    '6': 'SIX',
    '7': 'SEVEN',
    '8': 'EIGHT',
    '9': 'NINE'
}

number = input("Enter a number: ")

for digit in number:
    if digit in digits:
        print(digits[digit], end=' ')
    else:
        print("Invalid", end=' ')

Enter a number: 231
TWO THREE ONE

In [60]:
#8) Write a program to print Fibonacci series till n terms take n =50

num1 = int(input('Enter a number: '))
num2 = int(input('Enter another number: '))

print(num1,',', num2, end=', ')

for i in range(50):
  fibo = num1 + num2
  print(fibo, end=', ')

  num1 = num2
  num2 = fibo

Enter a number: 0
Enter another number: 1
0 , 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229, 832040, 1346269, 2178309, 3524578, 5702887, 9227465, 14930352, 24157817, 39088169, 63245986, 102334155, 165580141, 267914296, 433494437, 701408733, 1134903170, 1836311903, 2971215073, 4807526976, 7778742049, 12586269025, 20365011074,

In [59]:
#9) Write a program to print factorial of a number

num = int(input('Enter a number: '))

facto = 1
for i in range(1, num+1):
  facto = facto*i
print("Factorial:", facto)

Enter a number: 5
Factorial: 120

In [67]:
#10) Write a program to check if a number is Armstrong or not

def is_armstrong(num):
    num_of_digits = len(str(num))

    digit_sum = sum(int(digit) ** num_of_digits for digit in str(num))

    return num == digit_sum

num = int(input("Enter a number: "))

if is_armstrong(num):
    print(f"{num} is an Armstrong number.")
else:
    print(f"{num} is not an Armstrong number.")

Enter a number: 371
371 is an Armstrong number.

In [88]:
#11) Write a program to convert binary to decimal


binary_str = input("Enter a binary number: ")

decimal_num = 0

for bit in binary_str:
    decimal_num = decimal_num * 2 + int(bit)

print(f"The decimal representation is: {decimal_num}")

Enter a binary number: 11111111
The decimal representation is: 255

In [87]:
#12) Write a program to convert decimal to binary


decimal_num = int(input("Enter a decimal number: "))

if decimal_num < 0:
    print("Invalid input. Please enter a non-negative decimal number.")
else:
    binary_str = ""

    while decimal_num > 0:
        remainder = decimal_num % 2
        binary_str = str(remainder) + binary_str
        decimal_num = decimal_num // 2

    if binary_str == "":
        binary_str = "0"

    print(f"The binary representation is: {binary_str}")

Enter a decimal number: 255
The binary representation is: 11111111

In [65]:
#13) Write a program to check if number is palindrome on not (Without converting to string)


def is_palindrome(num):
    original_number = num
    reversed = 0

    while num > 0:
        remainder = num % 10
        reversed = reversed * 10 + remainder
        num = num // 10

    return original_number == reversed

num = int(input("Enter a number: "))

if is_palindrome(num):
    print(f"{num} is a palindrome.")
else:
    print(f"{num} is not a palindrome.")

Enter a number: 101
101 is a palindrome.

In [37]:
#14) Write a program to print all numbers which are divisible by 13 but not by 3 between 100 and 500

for num in range(100, 501):
  if num % 13 == 0 and num % 3 != 0:
    print(num)

104
130
143
169
182
208
221
247
260
286
299
325
338
364
377
403
416
442
455
481
494

In [90]:
#15) Write a Python program to convert temperatures to and from Celsius and Fahrenheit.

def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5/9

while True:
    print("Choose an option:")
    print("1. Celsius to Fahrenheit")
    print("2. Fahrenheit to Celsius")
    print("3. Exit")

    choice = input("Enter your choice (1/2/3): ").strip()

    if choice == '1':
        temperature = float(input("Enter the temperature in Celsius: "))
        converted_temperature = celsius_to_fahrenheit(temperature)
        print(f"{temperature} Celsius = {converted_temperature} Fahrenheit.\n")
    elif choice == '2':
        temperature = float(input("Enter the temperature in Fahrenheit: "))
        converted_temperature = fahrenheit_to_celsius(temperature)
        print(f"{temperature} Fahrenheit = {converted_temperature} Celsius.\n")
    elif choice == '3':
        print("Exiting the program.")
        break
    else:
        print("Invalid choice. Please enter 1, 2, or 3.\n")

Choose an option:
1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
3. Exit
Enter your choice (1/2/3): 1
Enter the temperature in Celsius: 35
35.0 Celsius = 95.0 Fahrenheit.

Choose an option:
1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
3. Exit
Enter your choice (1/2/3): 2
Enter the temperature in Fahrenheit: 97
97.0 Fahrenheit = 36.111111111111114 Celsius.

Choose an option:
1. Celsius to Fahrenheit
2. Fahrenheit to Celsius
3. Exit
Enter your choice (1/2/3): 3
Exiting the program.

In [81]:
#16) Write a Python program that takes two digits m (row) and n (column) as input and generates a two-dimensional array.
# The element value in the i-th row and j-th column of the array should be i*j. else it will be 0

m = int(input("Enter the number of rows (m): "))
n = int(input("Enter the number of columns (n): "))

matrix = []

for i in range(m):
    row = []
    for j in range(n):
        if i == 0 or j == 0:
            row.append(0)
        else:
            row.append(i * j)
    matrix.append(row)

for row in matrix:
    print(row)

Enter the number of rows (m): 3
Enter the number of columns (n): 4
[0, 0, 0, 0]
[0, 1, 2, 3]
[0, 2, 4, 6]

In [29]:
#17) Write a Python program that accepts a string and calculates the number of digits and letters.
'''Sample Data: Python 3.2
Expected Output:
Letters 6
Digits 2'''

input_string = input("Enter a string: ")

letter_count = 0
digit_count = 0

for x in input_string:
    if x.isalpha():
        letter_count += 1
    elif x.isdigit():
        digit_count += 1

print("Letters:", letter_count)
print("Digits:", digit_count)

Enter a string: Python 3.2
Letters: 6
Digits: 2

In [80]:
#18) Print all possible combination for a string or a word
'''Sample input “ABC”
Sample output
BAC
CAB
CBA
ACB
BCA'''

def gen_combos(input_str, current_str=""):
    if len(input_str) == 0:
        print(current_str)
    else:
        for i in range(len(input_str)):
            remaining = input_str[:i] + input_str[i + 1:]
            gen_combos(remaining, current_str + input_str[i])

input_str = input("Enter a string: ").upper()

gen_combos(input_str)

Enter a string: abc
ABC
ACB
BAC
BCA
CAB
CBA

In [75]:
#19) Write a Python program to check if a triangle is equilateral, isosceles or scalene. Take 3 inputs for each side

'''Note :
An equilateral triangle is a triangle in which all three sides are equal.
A scalene triangle is a triangle that has three unequal sides.
An isosceles triangle is a triangle with (at least) two equal sides.'''

side1 = float(input("Enter the length of the first side: "))
side2 = float(input("Enter the length of the second side: "))
side3 = float(input("Enter the length of the third side: "))

if side1 + side2 > side3 and side1 + side3 > side2 and side2 + side3 > side1:
    if side1 == side2 == side3:
        print("It's an equilateral triangle.")
    elif side1 == side2 or side1 == side3 or side2 == side3:
        print("It's an isosceles triangle.")
    else:
        print("It's a scalene triangle.")
else:
    print("It's not a valid triangle.")

Enter the length of the first side: 3
Enter the length of the second side: 4
Enter the length of the third side: 5
It's a scalene triangle.

In [89]:
#20) Write a Python program to get the next day of a given date.
'''Expected Output:
Input a year: 2016
Input a month [1-12]: 08
Input a day [1-31]: 23
The next date is [yyyy-mm-dd] 2016-8-24 '''

year = int(input("Input a year: "))
month = int(input("Input a month [1-12]: "))
day = int(input("Input a day [1-31]: "))

days_in_month = [0, 31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
    days_in_month[2] = 29

if 1 <= month <= 12 and 1 <= day <= days_in_month[month]:
    if day < days_in_month[month]:
        next_day = day + 1
        next_month = month
    else:
        next_day = 1
        if month < 12:
            next_month = month + 1
        else:
            next_month = 1
            year += 1

    print(f"The next date is [yyyy-mm-dd] {year}-{next_month}-{next_day}")
else:
    print("Invalid input. Please enter a valid date.")

Input a year: 2023
Input a month [1-12]: 9
Input a day [1-31]: 2
The next date is [yyyy-mm-dd] 2023-9-3