In [ ]:
class person:
  def __init__(self, fname, mname, lname):
    self.firstname = fname
    self.lastname = lname
    self.middlename = mname

  def printname(self):
    print(self.firstname, self.middlename, self.lastname)

In [ ]:
#creating child class from Person class
#basically inheriting the Parent class
#not performing any kind of operation

class ChildClass(person):
  pass
'''  def __init__(self, fname, mname, lname):
    self.firstname = fname
    self.lastname = lname
    self.middlename = mname'''

'  def __init__(self, fname, mname, lname):\n    self.firstname = fname\n    self.lastname = lname\n    self.middlename = mname'

In [ ]:
obj2 = ChildClass('Anushka', 'M.', 'Shrestha')

In [ ]:
obj2.printname()

Anushka M. Shrestha

In [ ]:
class Date:
  def __init__(date, month, day, year):
    date.month = month
    date.day = day
    date.year = year

  def printDate(date):
    print("Today's date is: ", date.month, date.day, ',', date.year)

In [ ]:
class ChildClass(Date):
  pass

In [ ]:
date1 = ChildClass('August', 22, 2023)

In [ ]:
date1.printDate()

Today's date is:  August 22 , 2023

In [ ]:
class Vehicle:

    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def print_info(self):
      print('----Car Details----')
      print('Brand:', self.name)
      print('Max Speed:', self.max_speed)
      print('Mileage:', self.mileage)

In [ ]:
class ChildClass(Vehicle):
  pass

In [ ]:
car1 = ChildClass('Audi', 120, 3500)

In [ ]:
car1.print_info()

----Car Details----
Brand: Audi
Max Speed: 120
Mileage: 3500

In [ ]:
class Person:
  def __init__(self, fname, lname):
    self.firstname = fname
    self.lastname = lname

  def printname(self):
    print(self.firstname, self.lastname)

In [ ]:
class Student(Person):
  def __init__(self, fname, lname):
    super().__init__(fname,lname) #previously we were passing values from ChildClass

In [ ]:
student1 = Student()

In [ ]:
class Car:
  def __init__(self, name, model):
    self.name = name
    self.model = model

  def print_details(self):
    print('Class Car: ', self.name, self.model)

In [ ]:
class Audi(Car):
  def __init__(self, name, model, make):
    super().__init__(name, model)
    self.make = 1999

    def print_info(self):
      print(self.name, self.model, self.make)

In [ ]:
obj1 = Audi('Audi', 555, 1234)

In [ ]:
obj1.print_details()

Class Car:  Audi 555