In [ ]:
str1 = "Hello"
print(str1)

str2 = "Good Evening"
print(str2)

str3 = """My name is Anushka Shrestha"""
print(str3)

str4 = "Today is 'August 9, 2023'"
print(str4)

Hello
Good Evening
My name is Anushka Shrestha
Today is 'August 9, 2023'

Lists

In [ ]:
# 1. List is represented by square brackets []
# 2. List is mutable (can be changed/manipulated)

lst1 = [1,45,67,98,43,23,54]
print(lst1)
print(type(lst1))

[1, 45, 67, 98, 43, 23, 54]
<class 'list'>

Tuple

In [ ]:
#Tuple
# 1. Tuple is represented by circular bracket ()
# 2. Tuple is immutable (cannot be changed)

tup1 = (1,2,3,4,5,6,7,8,9)
print(tup1)
print(type(tup1))

(1, 2, 3, 4, 5, 6, 7, 8, 9)
<class 'tuple'>

Set

In [ ]:
#Set
# 1. Set is combination of unique values
# 2. Set is collection of unordered elements (show values randomly)
# 3. Set is represented by curly brackets {}
# 4. Set is mutable

set1 = {'August','x',1,2,3,0, True, False,'!','@','$'}
print(set1)
print(type(set1))

{0, 'x', 2, 3, 1, '$', '@', '!', 'August'}
<class 'set'>

Dictionary

In [ ]:
#Dictionary
#Has Key value pair

dict1 = {'Server':'SQL Server',
         'IDE':'Visual Studio',
        }

tup1 = {'brand':'Logitech',
        'model':'mouse',
        'color':'white'
        }
print(dict1)
print(tup1)

{'Server': 'SQL Server', 'IDE': 'Visual Studio'}
{'brand': 'Logitech', 'model': 'mouse', 'color': 'white'}

String

In [ ]:
str1='August nine 2023'
print(str1)
print(type(str1))
print(len(str1))

print(str1[0])
print(str1[1])
print(str1[3])
print(str1[4])
print(str1[5])
print(str1[6])
print(str1[7])
print(str1[8])
print(str1[9])
print(str1[10])
print(str1[11])
print(str1[12])
print(str1[13])
print(str1[14])
print(str1[15])

print(str1[6])

str2 = str1[len(str1)-1]
print(str2)

August nine 2023
<class 'str'>
16
A
u
u
s
t

n
i
n
e

2
0
2
3

3

In [ ]:
date = 'AugustNine2023'

print(date[::])
print(date[:len(date):])
print(date[0:6:1])
print(date[6:10:1])
print(date[10:14:1])

print(date[10::])
print(date[6::])

AugustNine2023
AugustNine2023
August
Nine
2023
2023
Nine2023