# Comprehension

1. List
2. Dictionary
3. Set
4. Generative

In [1]:
#List Comprehension

lst_comp1 = [i for i in range(100)]
print(lst_comp1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [4]:
for i in range(100):
  if i % 3 == 0:
    print(i, end=" ")

0 3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [8]:
#Above code in the form of list comprehension
lst_comp2 = [i for i in range(100) if i % 3 == 0]
print(lst_comp2)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [9]:
fruits_lst = ['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes']
for i in fruits_lst:
  if 'a' in i:
    print(i)

apple
banana
dates
grapes

In [10]:
fruits_lst = ['apple', 'banana', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes']
lst_comp3 = [i for i in fruits_lst if 'a' in i]
print(lst_comp3)

['apple', 'banana', 'dates', 'grapes']

In [17]:
fruits_lst = ['apple', 'pineapple', 'greenapple', 'custardapple', 'eggfruit', 'fig', 'grapes']
lst_comp3 = [i for i in fruits_lst if 'apple' in i]
print(lst_comp3)

['apple', 'pineapple', 'greenapple', 'custardapple']

In [14]:
fruits_lst = ['apple', 'greenapple', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes']
lst_comp3 = [i for i in fruits_lst if 'apple' not in i]
print(lst_comp3)

['cherries', 'dates', 'eggfruit', 'fig', 'grapes']

In [24]:
fruits_lst = ['apple', 'greenapple', 'cherries', 'dates', 'eggfruit', 'fig', 'grapes']
lst_comp3 = [f"{i} exists in Fruits List" for i in fruits_lst if 'apple' in i]
print(lst_comp3)

['apple exists in Fruits List', 'greenapple exists in Fruits List']

In [41]:
iPhone_list = [11, 12, 13, 14, 15]
ip_list = [f"{i} is the new model" if i == 15 else f"{i} is the old model" for i in iPhone_list]
print(ip_list)

['11 is the old model', '12 is the old model', '13 is the old model', '14 is the old model', '15 is the new model']

In [34]:
names = ['Ch', 'Dh', 'Eh', 'cb', 'Tb', 'Td']
lst = [i for i in names if 'c' in i or 'C' in i]
print(lst)

['Ch', 'cb']

In [44]:
names = ['Ch', 'Dch', 'Eh', 'cb', 'Tb', 'Td', 'cherry']
lst = [i for i in names if i[0] == 'c' or i[0] == 'C']
print(lst)

['Ch', 'cb', 'cherry']

In [52]:
names = ['Today', 'is', 'a', 'very', 'sunny', 'day', '!']
lst = [i for i in names if i[-2:] == 'ay']
print(lst)

['Today', 'day']

In [50]:
#Dictionary Comprehension

dictCompre = {i : f"Item {i}" for i in range(10)}
dictCompre

{0: 'Item 0',
 1: 'Item 1',
 2: 'Item 2',
 3: 'Item 3',
 4: 'Item 4',
 5: 'Item 5',
 6: 'Item 6',
 7: 'Item 7',
 8: 'Item 8',
 9: 'Item 9'}

In [60]:
iPhone_set = {i for i in (11,12,13,14,14,15,11,'11 Pro', '12 Pro')}
iPhone_set

{11, '11 Pro', 12, '12 Pro', 13, 14, 15}