In [ ]:
if x < y:
  print(x, 'is smaller than', y)
elif x > y:
  print(x, 'is greater than', y)
else:
  print(x, 'is equal to', y)


# Lambda Equivalent
result = lambda x,y : f"{x} is smaller than {y}" \
if x < y else (f"{x} is greater than {y}" if x > y \
               else f"{x} is equal to {y}")

In [ ]:
if (percentage >= 78):
  print('pass with first class distinction')
elif (percentage >= 60):
  print('pass with first class')
elif (percentage >= 40):
  print('pass with second class')
elif (percentage >= 33):
  print('pass with third class')
else:
  print('better luck next time')

In [ ]:

grade = lambda percentage : 'pass with first class distinction' \
if percentage >= 78 else 'pass with first class' if percentage >= 60 \
                    else 'pass with second class' if percentage >= 40 \
                    else 'pass with third class' if percentage >= 33 \
                    else "better luck next time"
grade(99)
grade(76)
grade(60)
grade(52)
grade(30)
grade(10)

'better luck next time'

In [ ]:
result = lambda percentage: f"{percentage} pass with first class distinction" if percentage >= 78 else (\
                            f"{percentage} pass with first class" if percentage >= 60  else (\
                            f"{percentage} pass with second class" if percentage >= 40  else (\
                            f"{percentage} pass with third class" if percentage >= 33  else (\
                            f"{percentage} better luck next time"))))

result(55)

'55 pass with second class'

In [ ]:
result(79), result(69), result(59), result(49), result(39), result(29), result(19), result(9), result(89), result(99)

('79 pass with first class distinction',
 '69 pass with first class',
 '59 pass with second class',
 '49 pass with second class',
 '39 pass with third class',
 '29 better luck next time',
 '19 better luck next time',
 '9 better luck next time',
 '89 pass with first class distinction',
 '99 pass with first class distinction')

In [ ]:
def func_sum(*args):
  return args

In [ ]:
func_sum(82,67,89,4,5,6,87,23,2, 9)

(82, 67, 89, 4, 5, 6, 87, 23, 2, 9)

In [ ]:
def sum_numbers(*args):
    total = 0
    for num in args:
        total += num
    return total

result = sum_numbers(10, 20, 30, 40, 50)
print(result)

150

In [ ]:
def ingredients(*anushka):
    for arg in anushka:
        print("My ingredients:", arg)

ingredients('bread', 'butter', 'eggs', 'milk')

My ingredients: bread
My ingredients: butter
My ingredients: eggs
My ingredients: milk

In [ ]:
def combine_strings(*args):
    result = " ".join(args)
    return result

result = combine_strings("Hello", "my", "name", "is", "Anushka")
print(result)

Hello my name is Anushka

In [ ]:
#args should always be put as the last argument
#if placed first, it takes all the arguments within args
#args can take any value of the arguments passed with different data types

In [ ]:
def combine_strings(*args, a, b, c, d, e):
    result = " ".join(args)
    return result

result = combine_strings("Hello", "my", "name", "is", "Anushka", "!")
print(result)

TypeError: ignored

In [ ]:
def states(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

states(state="New York", area = 1000, city="Brooklyn")

state: New York
area: 1000
city: Brooklyn

In [ ]:
def city_details(*args, **kwargs):
  print("Zip codes: ", args)
  zip_codes = 0
  for i in args:
    zip_codes += 1
    print(zip_codes)
  for key, value in kwargs.items():
        print(f"{key}: {value}")


city_details(1001,1002,1003,1004, state="New York", area = 25000, city="Brooklyn")

Zip codes:  (1001, 1002, 1003, 1004)
1
2
3
4
state: New York
area: 25000
city: Brooklyn

In [ ]:
#kwargs, args, normal argument
def city_details(**kwargs, *args, a, b, c):
  print("Zip codes: ", args)

  for key, value in kwargs.items():
        print(f"{key}: {value}")


city_details(state="New York", area = 25000, city="Brooklyn", [1001,1002,1003],1004, 1005, 1006)

SyntaxError: ignored

In [ ]:
#kwargs, normal, args
def city_details(**kwargs, a, b, c, *args):

  for key, value in kwargs.items():
        print(f"{key}: {value}")

  print("Zip codes: ", args)

city_details(state="New York", area = 25000, city="Brooklyn", 1001,1002,1003,1004, [1005, 1006])

SyntaxError: ignored

In [ ]:
#args, normal, kwargs
def city_details(*args, a, b, c, **kwargs):

  for key, value in kwargs.items():
        print(f"{key}: {value}")

  print("Zip codes: ", args)

city_details([1005, 1006], 1001,1002,1003,1004, state="New York", area = 25000, city="Brooklyn")

TypeError: ignored

In [ ]:
#normal, args, kwargs