In [1]:
import pandas as pd

In [2]:
path = '/content/Ch1_Q22_V20_Data_File.xlsx'
df = pd.read_excel('Ch1_Q22_V20_Data_File.xlsx')

In [4]:
# a. Subset the data set to include only observations that have a date on or after May 1, 1975 for x3. How many observations are in the subset data?

df['x3'] = pd.to_datetime(df['x3'])

filtered_df = df[df['x3'] >= '1975-05-01']

num_observations = len(filtered_df)

print("Number of observations in the subset data:", num_observations)

Number of observations in the subset data: 25

In [5]:
#b. Subset the original data set based on the binary 1/0 values for x4. How many observations are in each of the two subsets?

subset_1 = df[df['x4'] == 1]
subset_0 = df[df['x4'] == 0]

num_observations_1 = len(subset_1)
num_observations_0 = len(subset_0)

print("Number of observations with x4 = 1:", num_observations_1)
print("Number of observations with x4 = 0:", num_observations_0)

Number of observations with x4 = 1: 24
Number of observations with x4 = 0: 28