In [2]:
import pandas as pd

In [3]:
path = '/content/Ch1_Q21_V09_Data_File.xlsx'
df = pd.read_excel('Ch1_Q21_V09_Data_File.xlsx')

In [4]:
#a. How many observations have x4 values that are less than 3?
count_x4_less_than_3 = df[df['x4'] < 3]['Observation'].count()

print("Number of observations with x4 values less than 3:", count_x4_less_than_3)

Number of observations with x4 values less than 3: 85

In [5]:
#b. Sort the data by x1 in ascending order. What are the x1, x2, x3, and x4 values of the first observation after the data are sorted?
# (For x1, round your answer to four decimal places.)

df_sorted = df.sort_values(by='x1', ascending=True)

first_observation_values = df_sorted.iloc[0]

print("x1:", round(first_observation_values['x1'], 4))
print("x2:", first_observation_values['x2'])
print("x3:", first_observation_values['x3'])
print("x4:", first_observation_values['x4'])

x1: 0.0121
x2: 54.0
x3: 11
x4: 3

In [6]:
#c. Sort the data by x1 in descending order. What are the x1, x2, x3, and x4 values of the first observation after the data are sorted?
 #(For x1, round your answer to four decimal places.)

df_sorted = df.sort_values(by='x1', ascending=False)

first_observation_values = df_sorted.iloc[0]

print("x1:", round(first_observation_values['x1'], 4))
print("x2:", first_observation_values['x2'])
print("x3:", first_observation_values['x3'])
print("x4:", first_observation_values['x4'])

x1: 0.998
x2: 196.0
x3: 13
x4: 3

In [8]:
#d. How many missing values are there in x1, x2, x3, and x4?
missing_x1 = df['x1'].isna().sum()
missing_x2 = df['x2'].isna().sum()
missing_x3 = df['x3'].isna().sum()
missing_x4 = df['x4'].isna().sum()

print("Missing values in x1:", missing_x1)
print("Missing values in x2:", missing_x2)
print("Missing values in x3:", missing_x3)
print("Missing values in x4:", missing_x4)

Missing values in x1: 1
Missing values in x2: 1
Missing values in x3: 0
Missing values in x4: 0

In [11]:
#e. How many observations are there in each category in x4?
x4_counts = df['x4'].value_counts()

print("Observations in each category in x4:")
print(x4_counts)

Observations in each category in x4:
2    45
1    40
3    33
Name: x4, dtype: int64