In [ ]:
#append function
#Appends or adds specified item to the last index of list

a=[54,23,7,324,74]
print("Before append", a)

a.append(8)
print("After append", a)

Before append [54, 23, 7, 324, 74]
After append [54, 23, 7, 324, 74, 8]

In [ ]:
#clear function
#empties the list

a=[54,23,7,324,74]
print("Before clear", a)

a.clear()
print("After clear", a)
print(len(a))

Before clear [54, 23, 7, 324, 74]
After clear []
0

In [ ]:
a_list = [1,2,3,4,5,6,7]
a_list.append([8,9,10])

print(a_list)
print(len(a_list))

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10]]
8

In [ ]:
#Getting 9

a_list = [1,2,3,4,5,6,7]
a_list.append([8,9,10])

print(a_list)
print((a_list[7][1]))

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10]]
9

In [ ]:
#Reversing the appended item
a_list = [1,2,3,4,5,6,7]
a_list.append([8,9,10])

print(a_list)

print(a_list[7][::-1])

[1, 2, 3, 4, 5, 6, 7, [8, 9, 10]]
[10, 9, 8]

In [ ]:
#Insert function takes in two values index and object/value/number

a_list = [11,22,33,44,55,66,77,33]
a_list.insert(5,111)

print(a_list)

[11, 22, 33, 44, 55, 111, 66, 77, 33]

In [ ]:
#pop function

a_list = [1,2,3,4,5,6,7]
a_list.pop(6)

print(a_list)

[1, 2, 3, 4, 5, 6]

In [1]:
#remove function
a_list = [1,2,3,4,5,6,7]
a_list.remove(6)

print(a_list)

[1, 2, 3, 4, 5, 7]

In [ ]:
#Tuple functions
#Only two functions as tuple is immutable
#count
#index

tup1 = (1,2,3,4,2,4)
tup1.count(4)

2

In [ ]:
#index
tup1 = (1,2,3,4,2,4)
tup1.index(4)

3

In [ ]:
#Question 1) Remove all repeated elements from the list Given below using for loop.

a=[1,2,3,4,5,11,1,2,6,1,8]
unique_list = []
for k in a:
  if k in unique_list:
    print('Repeated value: ',k)
  else:
    unique_list.append(k)
print(unique_list)

Repeated value:  1
Repeated value:  2
Repeated value:  1
[1, 2, 3, 4, 5, 11, 6, 8]

In [ ]:
#Question 1) Remove all repeated elements from the list Given below using for loop.
#Simpler way

a=[1,2,3,4,5,11,1,2,6,1,8]
print(set(a))

{1, 2, 3, 4, 5, 6, 8, 11}

In [ ]:
#Question 2) Print all prime numbers below 100

for i in range(2,100):
    for j in range(2,100):
        if i%j == 0:
            break
    if i == j:
        print(i,end=",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

In [ ]:
#Question 3) print list in reverse order using for loop
list1 = [1, 2, 3, 4, 5]
print("List before reverse : ", list1)
reversed_list = []
for value in list1:
  reversed_list = [value] + reversed_list
print("List after reverse : ", reversed_list)

List before reverse :  [1, 2, 3, 4, 5]
List after reverse :  [5, 4, 3, 2, 1]

In [ ]:
#Question 3) print list in reverse order using for loop
#different way

a = [1,2,3,4,5,6,7]
reverse_list = []

#start, stop, steps
for k in a[::-1]:
  reverse_list.append(k)
print(reverse_list)

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
#Question 4)  print multiplication table of 13 using for loop

for i in range(1,11):
  print('13','X', i, '=', i*13, end=' ')
  print('\r')

13 X 1 = 13
13 X 2 = 26
13 X 3 = 39
13 X 4 = 52
13 X 5 = 65
13 X 6 = 78
13 X 7 = 91
13 X 8 = 104
13 X 9 = 117
13 X 10 = 130